{% block body %}
{% apply inline_css(source('@styles/verify.css')) %}

    <div class="containerMail">
        <div class="headMail">

        </div>
        <div class="bodyMail">
            <div class="contain-imgMail">
                <div class="divLogoMail">
                    <img class="logoMail" src="{{ email.image('@images/Logo_plants.png') }}"/>
                </div>
                <div class="felicitation">
                    <div class"textFelicitation">
                        <h1 class="bienvenue">Félicitations {{ username }}!</h1>
                        <p class="mailInline">Merci pour votre achat</p>
                    </div>
                    <img class="felicitationImg" src="{{ email.image('@images/welcome-illustration.png') }}" alt="Félicitation">
                </div>
            </div>
            <div class="textMail">
                <p class="mailInline">Votre Lien de suivi d'expédition est disponible dans votre espace acheteur.<br>Vous pouvez également suivre votre colis en clicquant sur le lien ci-dessous.</p>
            </div>
            <div class="btnMail">
                <a class="mailInline load" href="{{ tracing }}">votre suivi...</a>
                <a class="mailInline" href="{{ tracing }}"><img src="{{ qr_code_data_uri(tracing, 'custom') }}" /></a>
            </div>
        </div>
        <div class="footerMail">
				<p class="mailInline">Echanger vos végétaux préférés partout en france</p>
				<div class="iconsMail">
					<a href="https://www.facebook.com/Plantetflower-110812368257334/"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="Page Facebook de Plant&Flower"/></a>
					<a href="https://www.instagram.com/plantetflower/"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" alt="Page Instagram de Plant&Flower"/></a>
				</div>
				<p class="mailInline" style="font-size: 11px">© 2021-2022 Tous droits réservés — PLANT&FLOWER.COM</p>
        </div>
    </div>
{% endapply %}
{% endblock %}
