{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe - Plant&Flower{% endblock %}
	{% block javascripts %}
		{{ encore_entry_script_tags("app") }}
	{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="contain">
        <div class="password-forgot">
            <h5>Réinitialisation de votre mot de passe</h5>

            {{ form_start(ResetPasswordform) }}

                <div class="Email">
                    {{ form_row(ResetPasswordform.plainPassword.first, {
                        'label': false,
                        'attr': {
                            class: 'input-email'
                        }
                    }) }}
                </div>

                <div class="Email">
                    {{ form_row(ResetPasswordform.plainPassword.second, {
                        'label': false,
                        'attr': {
                            class: 'input-email'
                        }
                    }) }}
                </div>
            
                <button class="ok" type="submit">Modifier</button>
                    
                {% for message in app.flashes('danger') %}
                    <div class="flash-info">
                        {{ message }}
                    </div>
                {% endfor %}
            
            {{form_end(ResetPasswordform)}}
        </div>
    </div>
{% endblock %}